.voteCell {
  position: relative;
  width: auto;
  padding-right: 16px;
  vertical-align: top;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.voteButton {
  margin: 2px;
  &:hover {
    background-color: transparent;
  }
  
  svg {
    color: var(--black-200);
    width: 36px;
    height: 36px;
  }
}
.situation{
  position: absolute;
  bottom: -40px;
}
.checkBtn{
  pointer-events: none;
}
.voted {
  color: var(--orange) !important;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  margin: 2px;
  color: var(--black-500)
}
.hide{
  pointer-events: none;
  opacity: 0.6;
}

.check{
  color: var(--black-200) !important;
  width: 36px;
  height: 36px;

}
.checkVote{
  color: var(--green) !important;
  pointer-events: none;
}

.hideVote{
  pointer-events: none;
  opacity: 0;
  cursor:none;
}
.report{
  position: relative;
  height: 20;
}
.modelReport{
  position: absolute;
  cursor: pointer;
  width: max-content;
  transition: all .2s ease;
  padding: 5px;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 5%), 0 1px 4px rgb(0 0 0 / 5%), 0 2px 8px rgb(0 0 0 / 5%);
  top: 0px;
  left: 30px;
}
.modelReport:hover{
  background-color: #0095ff;
  color: white;
}